/* Variables */

:root {
--playstation-darkest-color: #000000;
--playstation-primary-color: #2D64E7;
--playstation-dark-color: #363636;
--playstation-primary-text: #157DD2;
--playstation-text-white: #EEF2F8;
--playstation-dark-text: #1F1F1F;
--playstation-light-text: #757575;
--playstation-danger-text: #CC3C0F;
--playstation-primary-border: #0072CE;
--playstation-bg-light: #BEBCBB;
--playstation-bg-white: #FFFFFF;

}

/* Utilities */

.relative

.bg_darkest {
    background-color: var(--playstation-darkest-color);
}

.bg_dark {
    background-color: var(--playstation-dark-color) !important;
}

.bg_danger {
    background-color: var(--playstation-danger-text) !important;
}

.play_text_white {
    color: var(--playstation-text-white) !important;
}


/* Common rules */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Effects */

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
  }

  .dropdown-toggle.show::after {
    content: "\f106";
  }

/* Jumbotron */

.jumbotron>.container img {
    height: 60px;
}
.jumbotron {
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

/* Slider */

.slider img {
    border-radius: 10px;
}

.slider img:hover {
    border: 2px solid var(--playstation-primary-border);
    padding:2px;
}

.slider .col {
    position: relative;
}

.move_up:hover {
    position: absolute;
    animation-name: move;
    animation-duration: 3s;
}

@keyframes move {
    0% {
        left: 0;
        bottom: 0;
    }

    100% {
        left: 0;
        bottom: 15px;
    }
}



@media  screen and (min-width: 576px) {
    
}

@media  screen and (min-width: 768px) {
    .jumbotron>.container img {
        height: 75px;
    }
}

@media  screen and (min-width: 992px) {
    .jumbotron>.container img {
        height: 45px;
    }
}





