/* Variables */

:root {
--playstation-darkest-color: #000000;
--playstation-primary-color: #2D64E7;
--playstation-dark-color: #363636;
--playstation-primary-text: #157DD2;
--playstation-text-white: #EEF2F8;
--playstation-dark-text: #1F1F1F;
--playstation-light-text: #757575;
--playstation-danger-text: #CC3C0F;
--playstation-primary-border: #0072CE;
--playstation-bg-light: #BEBCBB;
--playstation-bg-white: #FFFFFF;
--playstation_bg_transparent: #D9DADC;

}

/* Utilities */

.p_relative {
    position: relative;
}

.bg_primary {
    background-color: var(--playstation-primary-color);
}

.bg_darkest {
    background-color: var(--playstation-darkest-color);
}

.bg_dark {
    background-color: var(--playstation-dark-color) !important;
}

.bg_danger {
    background-color: var(--playstation-danger-text) !important;
}

.bg_dark_gray {
    background-color: var(--playstation-dark-text);
}

.bg_light {
    background-color: var(--playstation-bg-light);
}

.bg_transparent {
    background-color: var(--playstation_bg_transparent) !important;
}

.play_text_white {
    color: var(--playstation-text-white) !important;
}

.play_text_primary {
    color: var(--playstation-primary-text);
}

.play_text_dark {
    color: var(--playstation-dark-text);
}

.play_text_light {
    color: var(--playstation-light-text);
}


/* Common rules */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.slider img, 
.new_releases img {
    border-radius: 15px;
}

/* Navbar */

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
  }

  .dropdown-toggle.show::after {
    content: "\f106";
  }

/* Jumbotron */

.jumbotron>.container img {
    height: 60px;
}
.jumbotron {
    height: 700px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

/* Slider */



.slider img:hover {
    border: 2px solid var(--playstation-primary-border);
    padding:2px;
}

.slider .col {
    position: relative;
}

.move_up:hover {
    position: absolute;
    animation-name: move;
    animation-duration: 3s;
}


@keyframes move {
    0% {
        left: 0;
        bottom: 0;
    }

    50% {
        left: 0;
        bottom: 15px;
    }

    100% {
        left: 0;
        bottom: 0;
    }
}

/* Playstation 5 */

.playstation_5 .card_text {
    display: none;
}

/* Banner */

.banner {
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* Playstation plus */

.playstation_plus .d_none {
    display: none;
}

@media  screen and (min-width: 576px) {
    
}

@media  screen and (min-width: 768px) {
    .jumbotron>.container img {
        height: 75px;
    }

    .playstation_5 .card_text {
        display: block;
    }

    .playstation_plus .d_none {
        display: block;
    }

}

@media  screen and (min-width: 992px) {
    .jumbotron>.container img {
        height: 45px;
    }

    .playstation_plus .special_lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}





