/* Variables */

:root {
--playstation-darkest-color: #000000;
--playstation-primary-color: #2D64E7;
--playstation-dark-color: #363636;
--playstation-primary-text: #157DD2;
--playstation-text-white: #EEF2F8;
--playstation-dark-text: #1F1F1F;
--playstation-light-text: #757575;
--playstation-danger-text: #CC3C0F;
--playstation-primary-border: #0072CE;
--playstation-bg-light: #BEBCBB;
--playstation-bg-white: #FFFFFF;
--playstation_bg_transparent: #D9DADC;
--playstation_bg_dark_blue: #161C3B;
--playstation_bg_blue: #00439C;

}

/* Utilities */

.unstyled {
    list-style: none;
}

.decor_none {
    text-decoration: none;
}

.bg_white {
    background-color: var(--playstation-bg-white);
}

.bg_primary {
    background-color: var(--playstation-primary-color);
}

.bg_darkest {
    background-color: var(--playstation-darkest-color);
}

.bg_dark {
    background-color: var(--playstation-dark-color) !important;
}

.bg_danger {
    background-color: var(--playstation-danger-text) !important;
}

.bg_dark_gray {
    background-color: var(--playstation-dark-text);
}

.bg_blue {
    background-color: var(--playstation_bg_blue)
}

.bg_light {
    background-color: var(--playstation-bg-light);
}

.bg_transparent {
    background-color: var(--playstation_bg_transparent) !important;
}

.bg_dark_blue {
    background-color: var(--playstation_bg_dark_blue);
}

.play_text_white {
    color: var(--playstation-text-white) !important;
}

.play_text_primary {
    color: var(--playstation-primary-text);
}

.play_text_dark {
    color: var(--playstation-dark-text);
}

.play_text_light {
    color: var(--playstation-light-text);
}

.border_inset:hover {
    box-shadow:0px 0px 0px 2px black inset;
}

.border_offset:hover {
    box-shadow:0px 0px 0px 2px black;
}



/* Common rules */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

.slider img, 
.new_releases img {
    border-radius: 15px;
}

/* Navbar */

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
  }

  .dropdown-toggle.show::after {
    content: "\f106";
  }

  .dropdown_menu_top {
      border-bottom: 0.5px solid var(--playstation-bg-light)
  }

  .dropdown_menu_bottom a::before {
    font: var(--fa-font-solid);
    content: "\f111";
    font-size: 4px;
    color: var(--playstation-primary-text);
    vertical-align: middle;
    margin-right: 0.5rem;
  }

.dropdown-item:hover {
    box-shadow: 0px 0px 4px 1px #80808040;
    background-color: transparent;
}
  

/* Jumbotron */


.jumbotron {
    height: 750px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top center;
}


/* Slider */

.slider img {
    transition: all 1000ms;
}

.slider .active {
    border: 2px solid var(--playstation-primary-border);
    padding:2px;
}

.move_up:hover img {
    transform: translateY(-20px);
    transition: all 1000ms;
}


/* Playstation 5 */

.playstation_5 .card_text {
    display: none;
}

.playstation_5 .opacity {
    opacity:0.5;
}
.playstation_5 .card_slider:hover img {
    opacity: 1;
}

.border_active {
    border: solid 2px transparent;
}

.playstation_5 .border_active:hover {
    border-bottom: 2px solid var(--playstation-primary-border);
}

/* Banner */

.banner {
    height: 620px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

 /* Playstation 4 */
 .registered_trademark {
    line-height: 0.5;
}

.registered_trademark::after {
    border: none;
    font: var(--fa-font-regular);
    content: "\f25d";
    font-size: 14px;
    vertical-align: super;
  }

/* Playstation plus */

.playstation_plus .d_none,
.playstation_now .d_none {
    display: none;
}

footer .country_text,
footer a,
footer .copyright {
    font-size: 12px;
}

.offset_transparent:hover {
    box-shadow:0px 0px 0px 2px var(--playstation_bg_transparent);
}



@media  screen and (min-width: 576px) {
    
}

@media  screen and (min-width: 768px) {
    .playstation_5 .card_text {
        display: block;
    }

    .playstation_plus .d_none,
    .playstation_now .d_none {
        display: block;
    }

    .social_media .container {
        max-width: 80%;
    }

}

@media  screen and (min-width: 992px) {
    .social_media .container {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .banner img {
        height: 150px;
    }
}






